<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deanlu.mybudget" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Actividad de logo de bienvenida -->
        <activity
            android:name=".Views.Inicio"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/StartTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Actividad del menú principal -->
        <activity
            android:name=".Views.Principal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.Formulario"
            android:label="@string/title_activity_formulario" >
        </activity>
    </application>

</manifest>
